*{
    
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    
}




.app-container {
    background-image:linear-gradient(to top,#0F0C29,#302B63);
    color:#f4f4f4;
    margin-top:0px;
    padding-top:10px;

    margin:0px;
}


@media screen and (max-width: 768px) {
    .app-container {
        padding: 5px;
    }
}


@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}
