*{
    
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}




.app-container {
    background-color:black;
    color:#ffffff;
    margin-top:0px;
    padding-top:10px;

    margin:0px;
}


@media screen and (max-width: 768px) {
    .app-container {
        padding: 5px;
    }
}
